@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --dark: #191a23;
  --lime: #b9ff66;
  --gray: #f3f3f3;

  --h1-font-size: 60px;
  --h2-font-size: 40px;
  --h3-font-size: 30px;
  --h4-font-size: 20px;
  --p-font-size: 18px;
}

/* mobile */
@media (max-width: 430px) {
  :root {
    --h1-font-size: 43px;
    --h2-font-size: 36px;
    --h3-font-size: 26px;
    --h4-font-size: 18px;
    --p-font-size: 16px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;

  h1 {
    font-size: var(--h1-font-size);
  }

  h2 {
    font-size: var(--h2font-size);
  }

  h3 {
    font-size: var(--h3-font-size);
  }

  h4 {
    font-size: var(--h4-font-size);
  }

  p {
    font-size: var(--p-font-size);
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

nav {
  background-color: var(--white);
  margin-top: 60px;

  .nav-wrapper {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      span {
        font-size: var(--h2-font-size);
      }
    }

    .menu {
      display: flex;
      justify-content: end;
      align-items: center;
      list-style: none;
      gap: 40px;

      li {
        a {
          color: var(--black);
          text-decoration: none;
          font-size: var(--h4-font-size);
        }
      }

      .menu-btn {
        padding: 20px 35px;
        border-radius: 14px;
        border: 1px solid var(--black);
      }
    }
  }
}

.banner {
  .banner-wrapper {
    padding: 70px 0;

    display: flex;
    justify-content: center;
    align-items: strat;

    .banner-info {
      p {
        padding: 35px 0;
      }

      .banner-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--dark);

        border-radius: 14px;

        a {
          padding: 20px 35px;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: var(--white);
        }
      }
    }
  }
}

.logo-types {
  .logo-types-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      filter: grayscale(100%);
    }
  }
}
