@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --dark: #191a23;
  --lime: #b9ff66;
  --gray: #f3f3f3;

  --red: red;
  --orange: orange;

  --h1-font-size: 60px;
  --h2-font-size: 40px;
  --h3-font-size: 30px;
  --h4-font-size: 20px;
  --p-font-size: 18px;
}

/* mobile */
@media (max-width: 430px) {
  :root {
    --h1-font-size: 43px;
    --h2-font-size: 36px;
    --h3-font-size: 26px;
    --h4-font-size: 18px;
    --p-font-size: 16px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;

  h1 {
    font-size: var(--h1-font-size);
  }

  h2 {
    font-size: var(--h2-font-size);
  }

  h3 {
    font-size: var(--h3-font-size);
  }

  h4 {
    font-size: var(--h4-font-size);
  }

  p {
    font-size: var(--p-font-size);
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;

  .section-card {
    margin-top: 140px;

    .container-header {
      display: flex;
      align-items: center;
      gap: 40px;

      h2 {
        padding: 0 7px;
        background-color: var(--lime);
      }

      p {
        width: 580px;
      }
    }
  }
}

.separator {
  height: 1px;
  border-bottom: 1px solid var(--white);
}

nav {
  background-color: var(--white);
  margin-top: 60px;

  .nav-wrapper {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        span {
          font-size: var(--h2-font-size);
          color: var(--black);
        }
      }
    }

    input {
      display: none;
    }

    .hamberger-icon {
      display: none;
    }

    .menu {
      display: flex;
      justify-content: end;
      align-items: center;
      list-style: none;
      gap: 40px;

      .close-icon {
        display: none;
      }

      li {
        a {
          color: var(--black);
          text-decoration: none;
          font-size: var(--h4-font-size);
        }
      }

      .menu-btn {
        a {
          padding: 20px 35px;
          border-radius: 14px;
          border: 1px solid var(--black);
        }
      }
    }
    @media screen and (max-width: 1350px) {
      .menu {
        gap: 20px;
      }
    }

    @media screen and (max-width: 1248px) {
      .hamberger-icon {
        display: block;

        svg {
          width: 40px;
          height: 40px;
        }
      }

      .menu {
        padding-top: 60px;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        width: 35vw;
        height: 100vh;
        background-color: var(--dark);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.4s ease-out;

        li {
          width: 100%;

          a {
            color: var(--white);
            padding: 15px 30px;
            display: block;
            width: 100%;
          }
        }

        .close-icon {
          width: 100%;
          display: flex;
          justify-content: end;
          padding: 10px 30px;
          svg {
            fill: var(--white);
            width: 40px;
            height: 40px;
          }
        }

        .menu-btn {
          width: 100%;
          display: flex;
          justify-content: end;
          padding: 0 20px;

          a {
            background-color: var(--white);
            color: var(--black);
            text-align: center;
            border: 0;
          }
        }
      }

      #sidebar-active:checked ~ .menu {
        right: 0;
      }
    }
  }
}

.banner {
  .banner-wrapper {
    padding: 70px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .banner-info {
      p {
        padding: 35px 0;
      }

      .banner-img {
        display: none;
      }

      .banner-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--dark);

        border-radius: 14px;

        a {
          padding: 20px 35px;
          width: 100%;
          height: 100%;
          font-size: 20px;
          text-decoration: none;
          color: var(--white);
        }
      }
    }

    .banner-img {
      width: 100%;
      img {
        max-width: 100%; /* Ensures the image scales down to fit its container */
        min-width: 450px;
        height: auto; /* Maintains the aspect ratio */
        display: block;
      }
    }
  }

  @media screen and (max-width: 1158px) {
    .banner-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .banner-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1,
        p {
          text-align: center;
        }

        p {
          padding: 0 40px;
        }

        .banner-img {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 650px;
          }
        }

        .banner-btn {
          margin-top: 40px;
        }
      }

      .banner-img {
        display: none;
      }
    }
  }
}

.logo-types {
  .logo-types-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    img {
      filter: grayscale(100%);
    }
  }

  .logo-types-mobile-carousel {
    display: none;
    overflow: hidden;
  }

  @media screen and (max-width: 965px) {
    .logo-types-wrapper {
      display: none;
    }

    .logo-types-mobile-carousel {
      display: block;
      .carousel-track {
        .swiper {
          background-color: transparent;
          padding: 0;
          margin-top: 0;
          border-radius: 0%;

          .swiper-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .swiper-slide {
              img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                filter: grayscale(100%);
              }
            }
          }
        }
      }
    }
  }
}

.services {
  margin: 140px 0;

  .services-grid {
    padding: 80px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    .services-grid-item {
      height: 310px;
      width: 600px;
      background-color: var(--gray);
      border: 1px solid var(--black);
      border-radius: 45px;
      box-shadow: 0px 6px 5px rgba(0, 0, 0, 1);
      padding: 50px;

      display: flex;
      justify-content: space-between;

      .services-grid-item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .services-grid-item-info-title {
          h3 {
            display: inline;
            padding: 0 7px;
            border-radius: 7px;
          }
        }

        button {
          border: 0;
          display: flex;
          justify-content: start;
          align-items: center;

          gap: 15px;
          font-size: 20px;

          .arrow-icon {
            width: 41px;
            height: 41px;
            border-radius: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .services-grid-item-img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .services-grid-item:nth-child(3n + 1) {
      background-color: var(--gray);

      .services-grid-item-info-title {
        h3 {
          color: var(--black);
          background-color: var(--lime);
        }
      }

      button {
        .arrow-icon {
          background-color: var(--dark);
          fill: var(--lime);
        }
      }
    }

    .services-grid-item:nth-child(3n + 2) {
      background-color: var(--lime);

      .services-grid-item-info-title {
        h3 {
          color: var(--black);
          background-color: var(--white);
        }
      }

      button {
        background-color: var(--lime);
        .arrow-icon {
          background-color: var(--dark);
          fill: var(--lime);
        }
      }
    }

    .services-grid-item:nth-child(3n + 3) {
      background-color: var(--black);

      h3 {
        color: var(--black);
        background-color: var(--white);
      }

      button {
        background-color: var(--black);
        .arrow-icon {
          background-color: var(--white);
          fill: var(--black);
        }

        .learn-more-text {
          color: var(--white);
        }
      }
    }
  }
}

.cta {
  padding: 24px 0;
  .cta-wrapper {
    height: 347px;

    border: 1px solid var(--black);
    border-radius: 45px;
    background-color: var(--gray);

    padding: 60px;

    display: flex;
    justify-content: space-between;

    .cta-info {
      width: 500px;
      p {
        padding: 26px 0;
      }

      .cta-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--dark);

        border-radius: 14px;

        a {
          padding: 20px 35px;
          width: 100%;
          height: 100%;
          font-size: 20px;
          text-decoration: none;
          color: var(--white);
        }
      }
    }

    .cta-img {
      height: 100%;
      overflow: visible;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.case-studies {
  .case-studies-grid {
    --var-gap: 64px;

    margin-top: 80px;
    background-color: var(--black);
    border-radius: 45px;
    padding: 70px 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--var-gap);

    .case-studies-item {
      position: relative;

      p {
        color: var(--white);
        padding-bottom: 20px;
      }

      button {
        border: 0;
        background: none;

        display: flex;
        justify-content: start;
        align-items: center;

        gap: 15px;
        font-size: 20px;

        .learn-more-text {
          color: var(--lime);
        }

        svg {
          fill: var(--lime);
        }
      }
    }

    .case-studies-item:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 0;
      right: calc(var(--var-gap) / 2 * -1);
      bottom: 0;
      width: 1px; /* Separator thickness */
      background-color: var(--gray); /* Separator color */
    }
  }
}

.our-working-process {
  .our-working-process-grid {
    margin-top: 80px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    .our-working-process-item {
      max-height: 300px;
      padding: 41px 60px;
      border-radius: 45px;
      border: 1px solid var(--black);
      box-shadow: 0px 6px 5px rgba(0, 0, 0, 1);
      background-color: var(--gray);
      transition: background-color 0.6s ease, max-height 0.6s ease;

      .our-working-process-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.1s ease;

        .header {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 25px;

          .number {
            font-size: 60px;
          }
          .header-text {
            font-size: 30px;
          }
        }

        .expand-btn {
          height: 58px;
          width: 58px;
          border: 1px solid var(--black);
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .plus-icon,
          .minus-icon {
            position: absolute;
            transition: opacity 0.5s ease, transform 0.5s ease;
          }

          .plus-icon {
            opacity: 1;
            transform: rotate(0deg);
          }

          .minus-icon {
            opacity: 0;
            transform: rotate(-90deg);
          }
        }
      }

      p {
        transform: translateY(-20px);
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: 0.7s ease;
        padding: 0;
      }
    }

    .our-working-process-item.expanded {
      background-color: var(--lime);

      .our-working-process-label {
        border-bottom: 1px solid var(--black);

        .expand-btn {
          .plus-icon {
            opacity: 0;
            transform: rotate(90deg);
          }

          .minus-icon {
            opacity: 1;
            transform: rotate(0deg);
          }
        }
      }

      p {
        transform: translateY(0);
        height: auto; /* Adjust to a value large enough for your content */
        opacity: 1;
        padding: 30px 0; /* Restore padding when expanded */
      }
    }
  }
}

.team {
  .team-grid {
    padding-top: 80px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    .team-item {
      padding: 40px 35px;
      border: 1px solid var(--black);
      border-radius: 45px;

      --var-item-gap: 56px;
      display: flex;
      flex-direction: column;
      gap: var(--var-item-gap);

      .person-title {
        position: relative;
        display: flex;
        gap: 20px;

        .flower-container {
          width: 106px;
          height: 106px;
          background-size: 100%;
          background-image: url("/public/mask/Positivus\ Landing\ Page\ Design\ Vector.svg")
            none repeat;
          filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 1));

          img {
            mask: url("/public/mask/Positivus\ Landing\ Page\ Design\ Vector.svg");
            width: 100%;
            height: 100%;
          }
        }

        .person-info {
          align-self: flex-end;
        }

        .person-linkedin {
          position: absolute;
          right: 0;
          top: 0;
          background-color: var(--dark);
          border-radius: 100%;
          width: 34px;
          height: 34px;

          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            fill: var(--lime);
          }
        }
      }

      .person-title:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(var(--var-item-gap) / 2 * -1);
        height: 1px; /* Separator thickness */
        background-color: var(--black); /* Separator color */
      }
    }
  }

  .all-team-btn {
    padding-top: 40px;

    display: flex;
    justify-content: end;
    align-items: center;

    a {
      width: 270px;
      height: 68px;
      background-color: var(--dark);
      color: var(--white);
      padding: 20px 35px;
      border-radius: 14px;
      border: 0px;
      font-size: 20px;
      text-decoration: none;

      text-align: center;
    }
  }
}

/*.testimonial */

.swiper {
  margin-top: 80px;
  padding: 70px 0;
  background-color: var(--dark);
  border-radius: 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 124px;

  .swiper-wrapper {
    display: flex;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .bubble {
        width: 606px;
        height: 266px;

        background: url("/public/icons/svg/Bubble.svg") no-repeat center center;
        padding: 50px;

        p {
          width: 502px;
          color: var(--white);
        }
      }

      .testimonial-person {
        padding-left: 80px;
        h4 {
          color: var(--lime);
        }

        p {
          color: var(--white);
        }
      }
    }
  }
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  background-color: transparent;
  border-radius: 0;
  height: 14px;
  width: 14px;
  fill: var(--white);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  fill: var(--lime);
}

.left-arrow,
.right-arrow {
  position: static;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  transition: background-color 0.3s ease;

  bottom: 8px;

  display: flex;

  svg {
    fill: var(--white);
  }
}

.right-arrow {
  rotate: 180deg;
}

.swiper-navigation {
  width: 564px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
}

.contact-us {
  .contact-form {
    margin-top: 80px;
    padding: 60px 100px 80px;
    background-color: var(--gray);
    border-radius: 45px;

    position: relative;

    /* display: flex;
    justify-content: space-between; */

    form {
      /* max-width: 556px; */
      width: 556px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .radio-group {
        display: flex;
        gap: 50px;

        label {
          display: flex;
          align-items: center;
          gap: 14px;
          font-size: 16px;

          div {
            width: 28px;
            height: 28px;

            border: 1px solid var(--black);
            background-color: var(--white);
            border-radius: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            input[type="radio"] {
              width: 16px;
              height: 16px;
              appearance: none;
              border-radius: 100%;
              transition: 0.2s;
            }

            input[type="radio"]:checked {
              background-color: var(--lime);
            }
          }
        }
      }

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .text-group {
          display: flex;
          flex-direction: column;
          gap: 5px;
          label {
            font-size: 16px;
          }
          input[type="text"],
          input[type="email"],
          textarea {
            padding: 18px 30px;
            border: 1px solid var(--black);
            border-radius: 14px;
            background-color: var(--white);
            min-width: 100%;
            font-size: 18px;
            min-height: 60px;
          }

          textarea {
            min-height: 190px;
          }

          .required::after {
            content: "*";
          }
        }
      }

      .submit-button {
        padding: 20px 35px;
        height: 68px;
        background-color: var(--black);
        border-radius: 14px;
        color: var(--white);
        font-size: 20px;
        text-align: center;
      }
    }

    .form-decoration {
      height: 100%;
      position: absolute;
      right: -324px;
      top: 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

footer {
  margin-top: 140px;
  .footer-wrapper {
    background-color: var(--dark);
    border-radius: 45px 45px 0 0;
    padding: 55px 60px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .footer-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 66px;

      .logo {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: var(--white);
          text-decoration: none;

          img {
            filter: invert(100%);
          }

          span {
            font-size: var(--h4-font-size);
            color: var(--white);
            text-decoration: none;
          }
        }
      }

      .menu {
        display: flex;
        justify-content: end;
        align-items: center;
        list-style: none;
        gap: 40px;

        li {
          a {
            color: var(--white);
            text-decoration: underline;
            font-size: 18px;
          }
        }
      }

      .social {
        display: flex;
        justify-content: end;
        align-items: center;
        list-style: none;
        gap: 40px;

        li {
          a {
            color: var(--black);
            text-decoration: none;
            font-size: var(--h4-font-size);
          }
        }
      }
    }

    .footer-content {
      display: flex;
      justify-content: space-between;

      margin-bottom: 50px;

      .contact-detail {
        display: flex;
        flex-direction: column;
        justify-content: centerx;
        align-items: start;
        gap: 27px;

        h4 {
          display: inline-block;
          height: 26px;
          border-radius: 7px;
          padding: 0 7px;
          background-color: var(--lime);
          color: var(--black);
        }

        .p-group {
          display: flex;
          flex-direction: column;
          gap: 20px;

          p {
            color: var(--white);
          }
        }
      }

      .subscribe-form {
        width: 634px;
        background-color: #292a32;
        border-radius: 14px;
        padding: 58px 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .text-group {
          input {
            width: 285px;
            height: 67px;
            background-color: transparent;
            padding: 22px 35px;
            border: 1px solid var(--white);
            border-radius: 14px;
            color: var(--white);
            font-size: var(--p-font-size);
          }
        }

        .submit-button {
          height: 67px;
          text-align: center;
          padding: 22px 35px;
          border-radius: 14px;
          background-color: var(--lime);
          font-size: var(--p-font-size);
        }
      }
    }

    .footer-footer {
      padding-top: 50px;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 40px;

      .copyrights {
        color: var(--gray);
        font-size: var(--p-font-size);
        line-height: 28px;
      }

      a {
        color: var(--white);
        font-size: var(--p-font-size);
        text-decoration: underline;
      }
    }
  }
}

.toast-notification {
  position: fixed;

  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;

  .toast {
    z-index: 100;
    position: relative;
    height: 80px;
    width: 350px;
    padding: 10px 35px;

    background-color: var(--white);

    border: 2px solid var(--black);
    border-radius: 14px;

    display: flex;
    align-items: center;
    gap: 20px;

    animation: show 0.3s ease 1 forwards;

    svg {
      width: 37px;
      height: 37px;
    }

    .success {
      fill: var(--lime);
    }

    .error {
      fill: var(--red);
    }

    .warning {
      fill: var(--orange);
    }

    #toast-content {
      font-size: 18px;
    }
  }

  .toast.hide {
    animation: timeOut 0.5s ease forwards; /* Add the hide animation */
  }
}

@keyframes timeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
